@import '../variables/color.scss';

// Colors
// ----------------------------------------------------------

.black { color: $black; }
.white { color: $white; }

// gray tints
.gray-050 { color: $gray-050; }
.gray-100 { color: $gray-100; }
.gray-200 { color: $gray-200; } // gray border default
.gray-300 { color: $gray-300; }
.gray-400 { color: $gray-400; }
.gray-500 { color: $gray-500; } // gray text default
.gray-600 { color: $gray-600; }
.gray-700 { color: $gray-700; }

// blue tints
.blue-050 { color: $blue-050; }
.blue-100 { color: $blue-100; }
.blue-200 { color: $blue-200; }
.blue-300 { color: $blue-300; } // blue text default
.blue-400 { color: $blue-400; }
.blue-500 { color: $blue-500; }
.blue-600 { color: $blue-600; }
.blue-700 { color: $blue-700; }

// red tints
.red-050 { color: $red-050; }
.red-100 { color: $red-100; }
.red-200 { color: $red-200; }
.red-300 { color: $red-300; }
.red-400 { color: $red-400; } // red text default
.red-500 { color: $red-500; }
.red-600 { color: $red-600; }
.red-700 { color: $red-700; }


// Background Colors
// ----------------------------------------------------------
.bg-black { background-color: $black; }
.bg-white { background-color: $white; }

// bg gray tints
.bg-gray-050 { background-color: $gray-050; } // gray background default
.bg-gray-100 { background-color: $gray-100; }
.bg-gray-200 { background-color: $gray-200; }
.bg-gray-300 { background-color: $gray-300; }
.bg-gray-400 { background-color: $gray-400; }
.bg-gray-500 { background-color: $gray-500; }
.bg-gray-600 { background-color: $gray-600; }
.bg-gray-700 { background-color: $gray-700; }

// bg blue tints
.bg-blue-050 { background-color: $blue-050; } // blue background default
.bg-blue-100 { background-color: $blue-100; }
.bg-blue-200 { background-color: $blue-200; }
.bg-blue-300 { background-color: $blue-300; }
.bg-blue-400 { background-color: $blue-400; }
.bg-blue-500 { background-color: $blue-500; }
.bg-blue-600 { background-color: $blue-600; }
.bg-blue-700 { background-color: $blue-700; }

// bg red tints
.bg-red-050 { background-color: $red-050; } // red background default
.bg-red-100 { background-color: $red-100; }
.bg-red-200 { background-color: $red-200; }
.bg-red-300 { background-color: $red-300; }
.bg-red-400 { background-color: $red-400; }
.bg-red-500 { background-color: $red-500; }
.bg-red-600 { background-color: $red-600; }
.bg-red-700 { background-color: $red-700; }

// Default Colors
// ----------------------------------------------------------
.color-text-primary { color: $color-text-primary !important; }
.color-text-secondary { color: $color-text-secondary !important; }
.color-text-tertiary { color: $color-text-tertiary !important; }
.color-text-link { color: $color-text-link !important; }
.color-text-error { color: $color-text-error !important; }

.color-bg-light { background: $color-bg-light !important; }
.color-bg-dark { background: $color-bg-dark !important; }
.color-bg-info { background: $color-bg-info !important; }
.color-bg-error { background: $color-bg-error !important; }

.color-border-primary { border-color: $color-border-primary !important; }
.color-border-error { border-color: $color-border-error !important; }